<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mhernandez.tomademedidas">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_duesdiseno"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"> <!--android:roundIcon="@mipmap/ic_duesdiseno"-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.mhernandez.tomademedidas" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".entrada_inicio"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".log_in"
            android:screenOrientation="portrait"
            android:label="Iniciar Sesión" >
        </activity>

        <activity android:name=".listaClientes"
            android:screenOrientation="portrait"
            android:label="@string/modificar_cliente" >
        </activity>

        <activity android:name=".listaProyectos"
            android:screenOrientation="portrait"
            android:label="@string/modificar_proyecto" >
        </activity>
      
        <activity android:name=".registrar_Dispositivo"
            android:screenOrientation="portrait"
            android:label="@string/registrar_dispositivo" >
        </activity>
      
        <activity android:name=".hoteleria"
            android:label="@string/proyecto_hoteleria">
        </activity>

        <activity android:name=".cama"
            android:label="@string/proyecto_cama">
        </activity>
        
        <activity android:name=".residencial"
            android:label="@string/proyecto_residencial">
        </activity>

        <activity android:name=".galeria"
            android:label="@string/proyecto_galeria">
        </activity>

        <activity android:name=".especial"
            android:label="@string/proyecto_especial">
        </activity>

    </application>

</manifest>